:root {
	--background-color: #f8f7f2;
	--content-background-color: #fff;
	--text-color: #222;
	--accent-color: #2980af;
	--5-grey: #555;
	--a-grey: #aaa;
	--c-grey: #ccc;
}

* {
	margin: 0px;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

body {
	margin: 0px;
	font-size: 0px;
	color: var(--text-color);
	background-color: var(--backgroud-color);
}

/* header */
header {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--c-grey);
}

header h1 {
	display: flex;
	font-size: 25px;
}

header a {
	text-decoration: none;
}

header p {
	font-size: 17px;
	line-height: 27px;
	color: var(--5-grey);
}

/* back */
#back {
	position: relative;
	height: 100%;
	width: 30px;
}

#back::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	height: 10px;
	width: 10px;
	border: solid var(--a-grey);
	border-width: 0px 0px 2px 2px;
	transform: translate(-50%, -50%) rotate(45deg);
	transform-origin: center;
}

/* main */
main {
	padding: 10px 0px;
	font-size: 16px;
}

main h1 {
	margin: 8px 0px 3px;
	font-size: 17px;
}

main a {
	color: var(--accent-color);
	text-decoration: none;
}

main a:hover {
	text-decoration: underline 1px;
	text-underline-offset: 3px;
}

main ul {
	margin: 5px 0px;
	padding-left: 25px;
	color: var(--5-grey);
}

/* card */
.container {
	display: flex;
	justify-content: center;
	padding: 30px;
	min-height: 100vh;
}

.wrapper {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	max-width: 700px;
	background-color: var(--content-backgroud-color);
	border: 1px solid var(--a-grey);
	border-radius: 20px;
}

/* table */
table {
	margin: 10px 0px;
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 3px 10px;
	border: 1px solid var(--a-grey);
}
